@use "./variables.scss" as *;

// put your custom CSS here!

body {
  background-image: linear-gradient(rgba(10, 8, 6, 0.55), rgba(10, 8, 6, 0.55)),
    url("/static/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
